@import "config";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

@-ms-viewport {
  width: device-width; }

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

html {
  font-size: 1rem;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }
body {
  background: $background_color;
}