@charset "UTF-8";
@font-face {
  font-family: PlayDisplay;
  /* ╨Ш╨╝╤П ╤И╤А╨╕╤Д╤В╨░ */
  src: url(/fonts/PlayfairDisplay-Regular.otf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
.b-field-test {
  max-width: 350px;
  margin: 50px auto 0;
  padding: 20px;
  background: #fffdee;
  border: 10px solid transparent;
  border-image: 10 repeating-linear-gradient(135deg, #0870FC, #0870FC 10px, transparent 10px, transparent 20px, #37D2FF 20px, #37D2FF 30px, transparent 30px, transparent 40px);
  font-family: PlayDisplay, serif;
  color: #605756; }

.b-field-test__row {
  margin-bottom: 15px; }

.b-field-test__row input[type="text"],
.b-field-test__row input[type="number"],
.b-field-test__row textarea {
  width: 100%;
  padding: 0 10px;
  line-height: 35px;
  border-width: 0;
  outline: none;
  background: transparent url(/img/bg-form.png) bottom left repeat-x;
  background-size: 8px 35px;
  font-family: PlayDisplay, serif; }

.b-field-test__row textarea {
  background-attachment: local;
  background-repeat: repeat;
  resize: none; }

.b-field-test__row input[type="reset"],
.b-field-test__row input[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  background: #37D2FF;
  border-width: 0;
  cursor: pointer;
  outline: none;
  font-family: PlayDisplay, serif;
  font-size: 13px;
  letter-spacing: 1px;
  color: #fffdee;
  text-transform: uppercase;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.b-field-test__row input[type=submit]:hover {
  background: #3764FF; }

.b-field-test__row input[type=reset]:hover {
  background: #6B37FF; }

.b-field-test__message {
  width: 100%;
  padding: 5px;
  margin-top: 7px;
  color: black; }

.success {
  color: #4F8A10;
  background-color: #DFF2BF; }

.error {
  color: #D8000C;
  background-color: #FFBABA; }

/*# sourceMappingURL=style.css.map */
